apiVersion: apps/v1
kind: Deployment
metadata:
  name: livraison-front
  labels:
    app.kubernetes.io/instance: livraison-front
spec:
  replicas: 2
  selector:
    matchLabels:
      app: livraison-front
  template:
    metadata:
      labels:
        app: livraison-front
    spec:
      containers:
        - name: livraison-front
          image: dali05/livraison-front-pipeline:1.0.0-31
          ports:
            - containerPort: 443   # Port HTTPS
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
